<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                <ul class="list-group js-wrapper">
                    <li class="list-group-item js-loop_stop">
                        Stop Loop
                    </li>
                    <li class="list-group-item js-loop_forward">
                        Loop Forward
                    </li>
                    <li class="list-group-item js-loop_backward">
                        Loop Backward
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(function(){
            console.log('jquery loaded');
            var raspBot = {
                sendCommand: function(command, value){
                    $.ajax({
                        url: '/raspbot/' + command + '/' + value,
                        method: 'POST',
                        type: 'JSON'
                    }).done(function(){

                    }).fail(function(){

                    });
                }
            };
            $('.js-loop_forward').on('click', function(){
                raspBot.sendCommand('loop', 'forward');
            });
            $('.js-loop_backward').on('click', function(){
                raspBot.sendCommand('loop', 'backward');
            });
            $('.js-loop_stop').on('click', function(){
                raspBot.sendCommand('loop', 'stop');
            });




        });
    </script>
</body>
</html>